footer {
    color: #fff;
    /* Cambia este color al que desees */
    background-color: #333;
    /* Cambia el color de fondo si es necesario */
    text-align: center;
    /* Centra el texto horizontalmente */
    padding: 10px;
    /* Añade espacio interno alrededor del texto para mejorar la apariencia */
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilo para la barra de navegación */
.navbaer {
    background: rgb(29, 120, 165);
    font-family: Calibri, sans-serif;
    padding: 15px; /* Agregué padding general para espaciar los elementos internos */
}

/* Contenedor flex para alinear y espaciar entre los elementos */
.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilo para el logo */
.logo a {
    font-size: 35px;
    font-weight: 600;
    color: white;
    text-decoration: none; /* Evita que el enlace tenga subrayado */
}

/* Estilo para la lista no ordenada y sus elementos de lista (enlaces) */
ul {
    list-style: none;
    margin: 0; /* Elimina el margen predeterminado de la lista */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
}

li {
    display: inline-block;
    margin-right: 25px;
}

li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento de lista */
}

/* Estilo para los enlaces de la barra de navegación */
li a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none; /* Evita que los enlaces tengan subrayado */
}

.font-cursiva {
    font-style: italic;
}

.subtema {
    color: blue;
}

.texto-gris-cursiva {
    color:darkgreen;
    font-style: italic;
}

img {
    max-width: 100%; /* Ajusta el ancho máximo al ancho del contenedor padre */
    height: auto; /* Mantiene la proporción original */
    display: block; /* Elimina el espacio adicional por debajo de la imagen */
    margin: 0 auto; /* Centra la imagen en su contenedor */
    max-height: 400px; /* Ajusta la altura máxima según tus necesidades */
}

p {
    color:crimson;
    font-style: italic;
}

h4 {
    color: black;
    font-style: italic;
}